<section>
    <div>
        <div class="details-container">
            <div *ngFor="let item of knowledge; let i = index" class="details">
                <app-edit class="category" type="text" [(value)]="item.category" [inputWidth]="190">
                </app-edit>
                <app-edit class="text-base w-auto max-w-full" type="text" [(value)]="item.items"
                    [inputWidth]="item.items.length * 9">
                </app-edit>
                <button class="absolute top-[2px] left-[-14px]" (click)="deleteKnowledge(item.index)">
                    <svg class="fill-purple-500 hover:scale-125 transition-all" width="16" height="16">
                        <use href="./assets/sprite.svg#icon-bin"></use>
                    </svg>
                </button>
            </div>
            <button
                class="add-skill flex justify-center items-center text-purple-500 uppercase gap-1 hover:scale-125 transition-all mt-2"
                (click)="addKnowledge()">
                <svg class="fill-purple-500" width="20" height="20">
                    <use href="./assets/sprite.svg#icon-plus"></use>
                </svg>
                Add Skill
            </button>
        </div>
    </div>
</section>