<div class="details">
    <p>Coding Languages:</p>
    <app-edit class="text-base w-auto max-w-full" type="text" [(value)]="languages"
    [inputWidth]="languages.length * 9"></app-edit>

    <p>Frameworks:</p>  
    <app-edit class="text-base w-auto max-w-full" type="text" [(value)]="frameworks"
    [inputWidth]="frameworks.length * 9"></app-edit>

    <p>Databases:</p>  
    <app-edit class="text-base w-auto max-w-full" type="text" [(value)]="databases"
    [inputWidth]="databases.length * 9"></app-edit>

    <p>Build-Systems:</p>
    <app-edit class="text-base w-auto max-w-full" type="text" [(value)]="buildSystems"
    [inputWidth]="buildSystems.length * 9"></app-edit>

    <p>Tools:</p>
    <app-edit class="text-base w-auto max-w-full" type="text" [(value)]="tools"
    [inputWidth]="tools.length * 9"></app-edit>

    <p>Operating System:</p>
    <app-edit class="text-base w-auto max-w-full" type="text" [(value)]="os"
    [inputWidth]="os.length * 9"></app-edit>

   <p>Development Environments:</p>
   <app-edit class="text-base w-auto max-w-full" type="text" [(value)]="devEnvironment"
   [inputWidth]="devEnvironment.length * 9"></app-edit>

  </div>
