<div class="wrapper">
    <h1 class="title">Portfolio Management Prototyp</h1>
    <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, ab animi a qui ducimus sit vitae molestias voluptas, ipsam reiciendis voluptatibus alias fugiat dignissimos corporis repellendus, harum repudiandae rem est!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia aut facilis rerum amet! Ducimus fuga porro, animi architecto amet, quae et, sapiente consectetur quaerat necessitatibus non culpa nemo temporibus. Nobis!</p>
    
    <div class="buttonAndText">
        <p>You can create a new CV with our template(s)</p>
        <button (click)="routeCV()" class="CVButton">Create a new CV!</button> <!-- needs to link to the multiple CV layouts later, for now only to one-->
    </div>
</div>