<section class="skills-section max-w-[50%]">
  @for(project of projects; track $index){
  <div class="flex flex-col gap-2">
    <app-edit class="text-xl" type="text" [(value)]="project.title"></app-edit>
    <app-edit
      class="text-base"
      type="text"
      [(value)]="project.description"
    ></app-edit>
    @for(key of getProjectTitles(project); track key){
    <app-edit
      class="text-base w-auto"
      type="text"
      [(value)]="project[key]"
    ></app-edit>
    }
    <button
      class="flex justify-center items-center text-purple-500 uppercase gap-1"
      (click)="addProjectField(project)"
    >
      <svg class="fill-purple-500 hover:scale-125" width="16" height="16">
        <use href="./assets/sprite.svg#icon-plus"></use>
      </svg>
      Field
    </button>

    <button
      class="flex justify-center items-center text-purple-500 uppercase gap-1"
      (click)="deleteProject($index)"
    >
      <svg class="fill-purple-500 hover:scale-125" width="20" height="20">
        <use href="./assets/sprite.svg#icon-bin"></use>
      </svg>
      Project
    </button>
  </div>
  }
  <button
    class="add-project flex justify-center items-center text-purple-500 uppercase gap-1"
    (click)="addProject()"
  >
    <svg class="fill-purple-500 hover:scale-125" width="20" height="20">
      <use href="./assets/sprite.svg#icon-plus"></use>
    </svg>
    Project
  </button>
</section>
