.projects-section {
    button {
      display: flex;
    }
  }



.jobDetails {
  display: grid;
  position: relative;
  grid-template-columns: max-content 1fr;
  gap: 15px;
  margin: 0;
}

.jobDetailsName{
  font-weight: bold;
}


.projectHeaderDetails{
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px;
  margin: 0;
  margin-top: 5px;

}

.techDetails{
  font-size: 18px;
  margin-top: 10px;
  font-weight: 550;
}

.headerTitle{
  font-size: 19px;
  font-weight: 550;
}