<section class="projects-section flex flex-col gap-4 min-h-5 max-w-[50%]">
  @for(project of projects; track $index){
  <div class="flex flex-col gap-2">
    <div class="projectHeader">
      <app-edit class="headerTitle" [(value)]="project.title"></app-edit>
      <app-edit class="text-base" type="text" [(value)]="project.description"></app-edit>
      <div class="projectHeaderDetails">
        <p class="jobDetailsName">Industry </p><app-edit class="text-base" type="text"
          [(value)]="project.industry"></app-edit>
        <p class="jobDetailsName">Time period </p><app-edit class="text-base" type="text"
          [(value)]="project.timeperiod"></app-edit>
        <p class="jobDetailsName">Teamsize </p> <app-edit class="text-base" type="text"
          [(value)]="project.teamsize"></app-edit>
        <p class="jobDetailsName">Role </p> <app-edit class="text-base" type="text" [(value)]="project.role"></app-edit>
      </div>
    </div>
    <button class="items-center text-purple-500 uppercase gap-1 hover:scale-105 transition-all"
      (click)="addProjectField(project)">
      <svg class="fill-purple-500" width="14" height="14">
        <use href="./assets/sprite.svg#icon-plus"></use>
      </svg>
      Field
    </button>
    <p class="techDetails">Technical Environment</p>
    <div class="jobDetails">

      <p class="jobDetailsName">Tasks </p> <app-edit class="text-base" type="text" [(value)]="project.tasks"></app-edit>
      <p class="jobDetailsName">Environment </p> <app-edit class="text-base" type="text"
        [(value)]="project.environment"></app-edit>
      <p class="jobDetailsName">Framework </p> <app-edit class="text-base" type="text"
        [(value)]="project.framework"></app-edit>
      <p class="jobDetailsName">Buildtools </p> <app-edit class="text-base" type="text"
        [(value)]="project.buildtools"></app-edit>
      <p class="jobDetailsName">Coding Language </p> <app-edit class="text-base" type="text"
        [(value)]="project.language"></app-edit>
      <p class="jobDetailsName">Operating System </p> <app-edit class="text-base" type="text"
        [(value)]="project.os"></app-edit>
    </div>

    @for(key of getProjectTitles(project); track key){
    <div class="jobDetails">
      <app-edit class="text-base jobDetailsName" type="text" [(value)]="project[key][0]"></app-edit>
      <app-edit class="text-base" type="text" [(value)]="project[key][1]"></app-edit>
    </div>
    <button class="absolute top-[2px] left-[-14px]" (click)="deleteProjectField(key, project)">
      <svg class="fill-purple-500 hover:scale-125" width="16" height="16">
        <use href="./assets/sprite.svg#icon-bin"></use>
      </svg>
    </button>
    }
    <button class="items-center text-purple-500 uppercase gap-1 hover:scale-105 transition-all"
      (click)="addProjectField(project)">
      <svg class="fill-purple-500" width="14" height="14">
        <use href="./assets/sprite.svg#icon-plus"></use>
      </svg>
      Field
    </button>

    <button class="text-base items-center text-purple-500 uppercase gap-1 hover:scale-105 transition-all"
      (click)="deleteProject($index)">
      <svg class="fill-purple-500" width="16" height="16">
        <use href="./assets/sprite.svg#icon-bin"></use>
      </svg>
      Project
    </button>
  </div>
  }
  <div class="flex justify-center items-center">
    <button
      class="add-project justify-center items-center text-purple-500 uppercase gap-1 hover:scale-105 transition-all"
      (click)="addProject()">
      <svg class="fill-purple-500" width="20" height="20">
        <use href="./assets/sprite.svg#icon-plus"></use>
      </svg>
      Project
    </button>
  </div>
</section>