.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-left: 25px;
  margin-top: 10px;

  .layoutsAndButtons {

    flex-direction: row;
    margin: 0;

    .layoutsWrapper {
      background-color: #a05bc062;
      width: 350px;
      border-radius: 15px;
      text-align: center;
      padding-top: 30px;
      height: 680px;
      overflow-x: auto;

      margin-right: 15px;

      .layoutChoices {

        .layout-title {
          font-size: 30px;

        }

        .layouts {
          font-size: 20px;

        }
      }
    }


    .buttons {
      margin-left: 30px;
      margin-top: 30px;
      margin-bottom: 40px;
      position: sticky;

      .exportButton {

        height: fit-content;

        width: 275px;
        text-align: center;
        font-size: 30px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 20px 13px;
        outline: 0;
        border: 1px solid rgb(44, 44, 44);
        cursor: pointer;
        position: relative;
        background-color: rgb(255, 255, 255);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .exportButton:after {
        content: "";
        background-color: #a05bc0;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
      }
    }
  }


  .cv {
    width: 210mm;
    height: 297mm;
    margin-top: 30px;;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-color: rgb(44, 44, 44);
    border: 1px solid;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: auto;

    .section {
      margin-bottom: 20px;
    }

    .section-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .minor-section-title{
      font-size: 19px;
      margin-top: 10px;
      font-weight: 550;
    }

    .section-content {
      font-size: 16px;
    }

    .project-item {
      margin-bottom: 10px;
    }

    .skill-item {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 5px;
      padding: 5px 10px;
      background-color: #f0f0f0;
      border-radius: 5px;
    }
  }
}


@media (max-width: 600px) {

  //mobile
  .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: center;
    align-items: center;

    margin-left: 1px;
    margin-top: 20px;

    .layoutsWrapper {
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      margin-bottom: 50px;
    }


    .buttons {
      margin: 0;
      margin-top: 35px;
      margin-bottom: 15px;
    }

    .cv {
      margin: 0;
      width: 90%;
      overflow: scroll; //only a filler until the proper designs have been converted

    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: center;
    align-items: center;

    margin-left: 5px;
    margin-top: 20px;

    .layoutsWrapper {
      justify-content: center;
      align-items: center;
      width: 80%;

      margin-bottom: 50px;
    }


    .buttons {
      margin: 0;
      margin-top: 35px;
      margin-bottom: 15px;
    }

    .cv {
      margin: 0;
      width: 90%;
      overflow: scroll; //only a filler until the proper designs have been converted

    }
  }
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }

  .layoutsWrapper {
    width: 80%;
  }

  .buttons {
    margin-left: 15px;
  }

}


@media print {
  .wrapper {
    border: none;
  }
}