.skills-section {
  @apply pb-5;
}

.skill {
  @apply flex justify-between items-center;
}

.skill-name-container {
  @apply flex-1 relative;
  min-width: 200px;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: visible;
}

.skill-name-container:hover .delete-button {
  display: block;
}

.delete-button {
  @apply hidden;
}

.checkboxes-container {
  @apply flex space-x-1;
}

.checked ~ .checkmark {
  @apply bg-slate-500 rounded-full w-2 h-2;
}

.delete-button {
  @apply hidden;
}
