.wrapper {
  
    .desc {
        font-size: 20px;
        margin: 5px;
    }

    .designWrapper {
        cursor: pointer;
        background-color: rgba(158, 131, 216, 0.404);
        border: 1px solid rgb(44, 44, 44);
        border-radius: 25px;
        padding-bottom: 5px;
        padding-top: 5px;
        width: 250px;
        margin: auto;
        margin-bottom: 25px;
        margin-top: 15px;

        .title {
            padding-bottom: 5px;
        }

        .cvImage {
            width: 50%;
            height: auto;
            margin: auto;
            padding-bottom: 5px;
        }
    }

    .clicked {
        box-shadow: 0 0 10px rgba(140, 0, 255, 0.678);
    }
}