.change-btn {
  &:hover button {
    @apply flex;
  }
}

.chooseButton {
  height: fit-content;
  position: sticky;
  text-align: center;
  padding: 0 8px 5px 2px;
  outline: 0;
  z-index: 1;
  cursor: pointer;
  position: relative;
  background-color: #a05bc0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  @apply transition-all;

  &:hover {
    padding: 4px;

    &::after {
      bottom: 0px;
      right: 0px;
    }
  }
}

.chooseButton::after {
  content: "";
  background-color: white;
  width: 100%;
  border: 1px solid rgb(44, 44, 44);
  position: absolute;
  z-index: -1;
  height: 100%;
  bottom: 4px;
  right: 4px;
  transition: 0.2s;
}

.contacts-wrapper {
  position: relative;
  background-color: #a05bc0;
  z-index: 1;
  padding: 0 8px 8px 2px;
}

.contacts-wrapper:after {
  border: 1px solid rgb(44, 44, 44);
  background-color: white;
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  bottom: 4px;
  right: 4px;
  transition: 0.2s;
}


.imgs {
  width: 25px;
  height: 25px;
}


.base-info {
  display: flex;
  flex-direction: column;
}


.flex.justify-around {
  justify-content:space-around;
  width: 100%; 

}
.name{
  font-size: 20px;
}
.position{
  font-size: 18px;
  font-weight: bold;
}

.details {
  display: grid;
  position: relative;
  grid-template-columns: max-content 1fr;
  gap: 4px;
  margin-bottom: 5px;
}

.nameContainer{
  margin-bottom: 15px;
}

.category{
  font-weight: bold;
}

.hover-trigger:hover .delete-button {
  display: block;
}

.description{
  margin: 0;
}