<section class="base-info">
  <div class="flex justify-around">
    <div class="flex flex-col gap-3 max-w-[70%]">
      <app-edit
        class="text-xl font-bold max-w-[50%]"
        type="text"
        [(value)]="userName"
      ></app-edit>
      <app-edit
        class="text-base w-auto max-w-[70%]"
        type="text"
        [(value)]="position"
      ></app-edit>

      <textarea
        class="text-xs lg:w-[350px] xl:w-[450px] lg:h-20"
        type="text"
        [(value)]="description"
      ></textarea>
    </div>

    <div class="flex flex-col gap-2 justify-center items-center">
      @if(avatarUrl){
      <div class="change-btn justify-center items-center">
        <img class="w-28 h-28 border p-1" [src]="avatarUrl" alt="userAvatar" />
        <input
          type="file"
          #fileInput
          style="display: none"
          (change)="onFileSelected($event)"
        />
        <button
          class="hidden chooseButton text-base mt-2 ml-1"
          (click)="fileInput.click()"
        >
          Change photo
        </button>
      </div>
      }@else {

      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="onFileSelected($event)"
      />
      <button class="chooseButton text-base" (click)="fileInput.click()">
        Choose photo
      </button>
      }
    </div>
  </div>

  <ul class="flex justify-around mt-2 gap-3 text-sm contacts-wrapper">
    <li class="flex items-center gap-1">
      <svg class="fill-purple-500" width="20" height="20">
        <use href="./assets/sprite.svg#icon-envelop"></use>
      </svg>
      <app-edit
        class="text-base w-auto"
        type="text"
        [(value)]="userInfo.mail"
      ></app-edit>
    </li>
    <li class="flex items-center gap-1">
      <svg class="fill-purple-500" width="20" height="20">
        <use href="./assets/sprite.svg#icon-mobile"></use>
      </svg>
      <app-edit
        class="text-base w-auto"
        type="text"
        [(value)]="userInfo.tel"
      ></app-edit>
    </li>
    <li class="flex items-center gap-1">
      <svg class="fill-purple-500" width="20" height="20">
        <use href="./assets/sprite.svg#icon-location"></use>
      </svg>
      <app-edit
        class="text-base w-auto"
        type="text"
        [(value)]="userInfo.address"
      ></app-edit>
    </li>
    <li class="flex items-center gap-1">
      <svg class="fill-purple-500" width="20" height="20">
        <use href="./assets/sprite.svg#icon-linkedin"></use>
      </svg>
      <app-edit
        class="text-base w-auto"
        type="text"
        [(value)]="userInfo.linkedIn"
      ></app-edit>
    </li>
  </ul>
</section>
